# OS-specific files
.DS_Store
Thumbs.db

# Arduino build files
*.bin
*.elf
*.hex
*.log
*.map

# PlatformIO build folder (pokud používáš)
.pio

# Soukromé údaje - NECHCEME je commitnout
firmware/Secrets.h
